.recent-profile {
	width: 100px;
	height: 500px;
	background: #fff;
	transitio: all 0.2s;

	// position: absolute;
	// right: 0;
}
.fixed {
	position: fixed;
	top: 58px;
	// right: calc(~'(100vw - 1100px)/2');
}
