.blog-header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .blog-nav {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
    }
}
