.blog_main {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px 20px;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .router-wrap {
        width: 960px;
    }
    .home_side_box {
        width: 25%;
        height: 500px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
