.aside-profile {
    width: 21.5%;
    background: #fff;
    position: absolute;
    left: 0;
    .aside-info {
        padding: 15px 20px;
        text-align: center;
        .user-photo {
            margin: 10px auto 20px;
            width: 128px;
            height: 128px;
        }
        h3 {
            color: #565a5f;
            font-weight: normal;
        }
        .name {
            font-size: 20px;
            font-weight: 600;
        }
    }
}
